{% extends "bigData/index.html" %}
{% block content %}
<div class="col-sm-8">
  <div class="page-header float-right">
    <div class="page-title">
      <ol class="breadcrumb text-right">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">UI Elements</a></li>
        <li class="active">Buttons</li>
      </ol>
    </div>
  </div>
</div>
<div class="content mt-3">
    <div class="animated fadeIn">
      <div class="row">
        </div><!-- .row -->
    </div><!-- .animated -->
</div><!-- .content -->
{% endblock %}
