header {
    text-align: center;
    background: #ffffff;
}

header .container {
    padding-top: 200px;
    padding-bottom: 400px;
}

header .container2 {
    padding-top: 000px;
    padding-bottom: 300px;
}


header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text {
    display: inline;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 4.25em;
    font-weight: 700;
    color : black;
}
